div.block-container.css-z5fcl4.egzxvld4
{
  background-image: url("https://thumbs.dreamstime.com/b/abstract-bluesky-water-color-background-illustration-texture-design-abstract-bluesky-water-color-background-illustration-196808032.jpg");
  background-attachment: fixed;
  background-size: cover;
  height: 400px;
}

div.css-keje6w.e1tzin5v1
{
  margin-top: 100px;
  background-color: #F9F9F9;
  border: none;
  box-shadow: 0 6px 18px #2C3333;
  padding-left: 50px;
  padding-top: 50px;
  padding-right: 50px;
  padding-bottom: 50px;
  margin-bottom: 100px;
  width: 640px;
  height: auto;
}

div.main.css-uf99v8.egzxvld5
{
  background-color: #FAFAFA;
}

footer.css-164nlkn.egzxvld1{
  display: none;
}

button.css-1n543e5.edgvbvh10
{
  height: 50px;
  background-color: #6CDFDF;
  color: white;
}
